.headShinobi {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rebeccapurple;
    font-weight: 800;
    font-size: 50px;
    background-color: rgba(20,7,28,0.91);
    width: 100%;

}
