.scroll button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    color: blueviolet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 768px) {
    .scroll button {
        display: block;
    }

}