.scroll button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    color: blueviolet;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .scroll button {
        position: absolute;
        bottom: -65%;
    }

}