body {
    background: aliceblue;
    margin: 0;
    padding: 0;
}


button {
    text-decoration: none;
    border: none;
    background-color: lightsteelblue;
    font-size: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: aliceblue;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: darkblue;
    font-weight: bold;
}

a:hover {
    color: dodgerblue;
}
